@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  
}

.about-me-markdown-content a,
.about-me-markdown-content strong,
.about-me-markdown-content em,
.about-me-markdown-content b,
.about-me-markdown-content hr,
.about-me-markdown-content p,
.about-me-markdown-content ul,
.about-me-markdown-content h1,
.about-me-markdown-content h2,
.about-me-markdown-content h3,
.about-me-markdown-content h4,
.about-me-markdown-content h5,
.about-me-markdown-content h6 {
  scroll-margin-top: 80px; /* Adjust to match your navbar height */
  @apply text-gray-600;
}

.about-me-markdown-content h1,
.about-me-markdown-content h2,
.about-me-markdown-content h3,
.about-me-markdown-content h4,
.about-me-markdown-content h5,
.about-me-markdown-content h6 {
  @apply font-medium; /* Or font-normal, font-light as needed */
}